/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .body {
   margin-left: 50px;  
 }

 .bal {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .cat {
     background: #cce5ff;
 }

 .navbar-header, 
 .container, 
 .collapse, 
 .navbar-fixed-top {
    background: #cce5ff;
 }

 .navs {
     background: #6c6a6a;
     color: #cce5ff;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 20px;
 }

 .navbar-brand {
     text-decoration: none;
     margin-left: 50px;
     margin-right: 50px;
 }

 .item {
     padding-left: 40px;
 }

 .navbar-toggle {
    background-color: #6c6a6a;
    color: #cce5ff;
    width: 500px;
    height: 50px;
    margin-left: 650px;
    border-radius: 20px;
    font-size: 30px;
 }